Datos extraidos de http://archive.ics.uci.edu/ml/datasets/Polish+companies+bankruptcy+data#

In [1]:
import os
directory = '../Bankruptcy'
filename = '1year.arff'
filepath = os.path.join(directory, filename)

In [2]:
from utils.read import explore_csv

explore_csv(filepath, lines = 70)

@relation '1year-weka.filters.unsupervised.instance.SubsetByExpression-Enot ismissing(ATT20)'



@attribute Attr1 numeric

@attribute Attr2 numeric

@attribute Attr3 numeric

@attribute Attr4 numeric

@attribute Attr5 numeric

@attribute Attr6 numeric

@attribute Attr7 numeric

@attribute Attr8 numeric

@attribute Attr9 numeric

@attribute Attr10 numeric

@attribute Attr11 numeric

@attribute Attr12 numeric

@attribute Attr13 numeric

@attribute Attr14 numeric

@attribute Attr15 numeric

@attribute Attr16 numeric

@attribute Attr17 numeric

@attribute Attr18 numeric

@attribute Attr19 numeric

@attribute Attr20 numeric

@attribute Attr21 numeric

@attribute Attr22 numeric

@attribute Attr23 numeric

@attribute Attr24 numeric

@attribute Attr25 numeric

@attribute Attr26 numeric

@attribute Attr27 numeric

@attribute Attr28 numeric

@attribute Attr29 numeric

@attribute Attr30 numeric

@attribute Attr31 numeric

@attribute Attr32 numeric

@attribute Attr33 numeric

@attribute Attr34 numeric

@attribute Attr35 numeric

@attribute Attr36 numeric

@attribute Attr37 numeric

@attribute Attr38 numeric

@attribute Attr39 numeric

@attribute Attr40 numeric

@attribute Attr41 numeric

@attribute Attr42 numeric

@attribute Attr43 numeric

@attribute Attr44 numeric

@attribute Attr45 numeric

@attribute Attr46 numeric

@attribute Attr47 numeric

@attribute Attr48 numeric

@attribute Attr49 numeric

@attribute Attr50 numeric

@attribute Attr51 numeric

@attribute Attr52 numeric

@attribute Attr53 numeric

@attribute Attr54 numeric

@attribute Attr55 numeric

@attribute Attr56 numeric

@attribute Attr57 numeric

@attribute Attr58 numeric

@attribute Attr59 numeric

@attribute Attr60 numeric

@attribute Attr61 numeric

@attribute Attr62 numeric

@attribute Attr63 numeric

@attribute Attr64 numeric

@attribute class {0,1}



@data

0.20055,0.37951,0.39641,2.0472,32.351,0.38825,0.24976,1.3305,1.1389,0.50494,0.24976,0.6598,0.1666,0.24976,497.42,0.73378,2.6349,0.24976,0.14942,43.37,1.2479,0.21402,0.11998,0.47706,0.50494,0.60411,1.4582,1.7615,5.9443,0.11788,0.14942,94.14,3.8772,0.56393,0.21402,1.741,593.27,0.50591,0.12804,0.66295,0.051402,0.12804,114.42,71.05,1.0097,1.5225,49.394,0.1853,0.11085,2.042,0.37854,0.25792,2.2437,2.248,348690,0.12196,0.39718,0.87804,0.001924,8.416,5.1372,82.658,4.4158,7.4277,0

In [3]:
import pandas as pd
data = pd.read_csv(filepath,skiprows= 69, header= None, na_values= '?' )
data.dtypes

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
17    float64
18    float64
19    float64
20    float64
21    float64
22    float64
23    float64
24    float64
25    float64
26    float64
27    float64
28    float64
29    float64
       ...
35    float64
36    float64
37    float64
38    float64
39    float64
40    float64
41    float64
42    float64
43    float64
44    float64
45    float64
46    float64
47    float64
48    float64
49    float64
50    float64
51    float64
52    float64
53    float64
54    float64
55    float64
56    float64
57    float64
58    float64
59    float64
60    float64
61    float64
62    float64
63    float64
64      int64
dtype: object

In [4]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0.200550,0.37951,0.39641,2.0472,32.3510,0.38825,0.249760,1.33050,1.1389,0.50494,...,0.121960,0.39718,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.4277,0
1,0.209120,0.49988,0.47225,1.9447,14.7860,0.00000,0.258340,0.99601,1.6996,0.49788,...,0.121300,0.42002,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.9870,0
2,0.248660,0.69592,0.26713,1.5548,-1.1523,0.00000,0.309060,0.43695,1.3090,0.30408,...,0.241140,0.81774,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.2078,0
3,0.081483,0.30734,0.45879,2.4928,51.9520,0.14988,0.092704,1.86610,1.0571,0.57353,...,0.054015,0.14207,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.5497,0
4,0.187320,0.61323,0.22960,1.4063,-7.3128,0.18732,0.187320,0.63070,1.1559,0.38677,...,0.134850,0.48431,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.8980,0

In [5]:
print(len(data))
data2 = data.dropna()
print(len(data2))
y = data2.iloc[:, 64].values
X = data2.iloc[:, :64].values

7027
3194

In [6]:
import numpy as np
print("{:.3%}".format(np.mean(y)))

0.939%

In [7]:
from sklearn import preprocessing

scaler = preprocessing.StandardScaler().fit(X)
Xst = scaler.transform(X)

In [11]:
from utils.sampling import oversampling
Xe, ye = oversampling(X, y)

In [15]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.3)

In [17]:
from sklearn.neural_network import MLPClassifier
clf10 = MLPClassifier(hidden_layer_sizes = (10, 10))
clf10.fit(Xtrain, ytrain)
print('Train {:.5%}'.format(clf10.score(Xtrain, ytrain)))
print('Test {:.5%}'.format(clf10.score(Xtest, ytest)))

Train 98.56823%
Test 98.54015%